{{ name }} version {{ version }}
{{ description }}

Usage: {{ name }} [COMMAND] [OPTION]

Commands:

Create    Create [OPTION]
          
          Options:
          
          project    Create new project.
          db         Create database.
          model      Create new model.
